*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.toDoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  gap: .5rem;
}

.Header {
  background-color: rgb(223, 220, 148);
  height: 10vh;
  display: flex;
}

.Header h1 {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

input {
  border: 2px rgb(0, 0, 0) dotted;
  height: 40px;
  font-size: 1.3rem;
  padding-left: .3rem;
}

.submit {
  height: 40px;
  padding:0.35rem 1.2rem;
  border: 0.1em dotted #000000;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  font-weight:300;
  transition: all 0.2s;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
}

.submit:hover {
  color:#ffffff;
  background-color:#000000;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.delete {
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.inputAndSubmit {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: .2rem;
}

.notesContainer {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.3rem;
}

.notes {
  background-color: rgb(223, 220, 148);
  padding: 1.5rem;
  border-radius: 2rem;
  margin: 1rem;
}

.time {
  font-size: 1rem;
  opacity: .5;
}
